<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - AspNetCoreFirstExample.Web - <a href="https://canemre.com.tr" target="_blank">Can EMRE</a>
    </div>
</footer>