@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}

@section header
{
    <p>Bu kodlar headerın hemen altına eklenecek</p>
}

@section footer
{
    <p>Bu kodlar footerın hemen altına eklenecek</p>
}

<div>Bu sayfa Example Controller > Index Sayfası</div>