
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
<b>Bu sayfa layout sayfalardan beslenmemektedir</b>

    <partial name="_MenuPartialView" />
</body>
</html>
