@using Microsoft.AspNetCore.Hosting.StaticWebAssets
@using Microsoft.CodeAnalysis.Scripting
@model VisitorViewModel

<h2>Ziyaretçi Yorumları</h2>
@foreach (var item in ViewBag.visitorViewMpdels as List<VisitorViewModel>)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.Created.ToShortDateString()</h6>
            <p class="card-text">@item.Comment</p>
        </div>
    </div>
}

@if (TempData["result"] != null)
    {
        <div class="alert alert-info">@TempData["result"]</div>
    }
    

<hr/>
<form asp-controller="Home" asp-action="SaveVisitorComment" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">İsim</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" asp-for="Comment" placeholder="Yorum yazınız.." style="height: 100px"></textarea>
        <label asp-for="Comment" class="form-label">Yorum</label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>
</form>